body {
    background-color:rgb(209, 221, 223);
}

h1 {
    color: white;
    background-color: blue;
}

button {
    width: 178px;
    background-color: blue;
    color: white;
    opacity: .5;
    margin-top: 5px;
}

button:hover{
    opacity: 1.0;
}

#prevSearches {
    border: solid;
    border-color: black;
    border-radius: 50px;
    width: max-content;
    padding: 10px;
}

#info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container {
    padding: 5px;
    width: max-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    text-align: center;    ;
}



@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1200px) {
    
}