h1 {
    color: white;
    background-color: blue;
}

button {
    width: 178px;
    background-color: blue;
    color: white;
    opacity: .5;
    margin-top: 5px;
}

button:hover{
    opacity: 1.0;
}

#info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container {
    border-radius: 25px;
    border: 2px solid;
    padding: 5px;
    width: max-content;
}
